/* src/app/globals.css */
@import "tailwindcss";

/* ここに右合の衆のカスタムテーマ（色・フォント）を設定します */
@theme {
  --color-brand-white: #FFFFFF;
  --color-brand-black: #222222;
  --color-brand-red: #C01920;

  --font-serif: var(--font-noto-serif), serif;
  --font-sans: var(--font-noto-sans), sans-serif;
}

/* （オプション）ベースの背景色と文字色をここで指定しておくと楽です */
@layer base {
  body {
    background-color: var(--color-brand-white);
    color: var(--color-brand-black);
  }
}